#tabla1{
	width: 415px;
	float: left;
	border: 3px solid black;
	padding: 5px;
	border-radius: 5px;
}

#tabla2{
	width: 415px;
	float: left;
	border: 3px solid black;
	padding: 5px;
	border-radius: 5px;
}

#tabla3{
	width: 415px;
	float: left;
	border: 3px solid black;
	padding: 5px;
	border-radius: 5px;
	/*display:none;*/
}

#divi{
	width: 100 px;
	height: 150px;
	background-color: gray;
	display: inline-block;	
}
/*Las tablas se adecuan al tamaño de las capas designadas en los estilos div*/
#divi img{
	width: 100px;
	height: 150px;	
}